img {
    height: 150px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
}

nz-list{
    justify-content: center;
}


nz-list-item{
    padding: 4em;
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    margin: 1em;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.adjust{
    display: inline;
}

.container{
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0em 1em;
    margin-top: 14px
}

.empty-cart {
    padding: 40vh;
    height: 85vh;
    text-align: center;
    vertical-align: center;

    h1{
        font-size: 30pt;
        opacity: 60%;
    }
}