img {
    width: 250px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

.details {
    text-align: left;
}

.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



