.container {
    justify-content: center;
    justify-items: center;
    padding: 3em 3em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 28em);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    text-align: center;
}

.ant-layout-content {
    min-height: 100vh;
}

nz-card {
    text-align: center;
    max-width: 20em;
    min-height: fit-content;
    border-radius: 10px;
    transition: 500ms;
    background-color: rgb(246, 246, 246);
}

nz-card:hover {
    border: 1px solid slateblue
}

@media (max-width: 526px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 526px) and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}