<div class="dropdown">
    <h3 nz-dropdown [nzDropdownMenu]="menu">
        Sort by: {{currentSortOption}}<span nz-icon nzType="down"></span>
    </h3>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item *ngFor="let option of sortOptions" (click)="sort(option)">{{option}}</li>
        </ul>
    </nz-dropdown-menu>
</div>
<div class="container">
    <nz-card *ngFor="let item of data">
        <app-item-card [item]="item"></app-item-card>
    </nz-card>
</div>