nz-header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

nz-content {
    padding: 0 50px;
    margin-top: 64px;
    background: transparent;

}

nz-layout {
    background: linear-gradient(180deg, rgba(196, 190, 193, 1) 0%, rgb(113, 130, 156) 100%);
    min-height: 100vh;
}
